#index {
    .container {
        text-align: center;

        h1 {
            color: blue;
        }
    }
}

#login {
    #login-form {
        .form-row {
            margin-bottom: 5px;
            &:last-child {
                margin-bottom: 0px;
            }
            .label-and-field {
                min-width: 280px;
                max-width: 300px;
            }
        }
    }
}